.teamimage {
    width: 50%;
    margin: 0 auto;
    margin-left: 25%;
    border: 4px solid #000000;
}
.text-area {
    width: 70%;
    margin: 0 auto;
}
.text-area h2 {
    text-align: center;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 20px;
    margin-bottom:50px;
    margin: 0 auto;
}
.image-grid .teamimage {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 4px solid #000000;
}