.content-body {
    background-color: #F4EFE1;
}

/* ONLINE CONTENT SECTION*/
.online-content-wrapper {
    padding-bottom: 50px;
}
.online-content-header {
    margin-top: 100px; /* WILL NEED TO CHANGE LATER LOL */
    background-color: #BA122B;
}
.online-content-header h2{
    font-size: 30px;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}
.online-content-grid {
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.online-content-story-box {
    width: 33%;
}
.online-content-button {
    margin-top: 100px;
    width: 300px;
    margin: 0 auto;
    background-color: #BA122B;
}
.online-content-button h3 {
    font-size: 15px;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}

/* LATEST ISSUE SECTION */
.latest-issue-wrapper {
    padding-bottom: 50px;
    padding-top: 5px;
    background-color: #273036;
}
.latest-issue-header h2{
    font-size: 30px;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}
.latest-issue-content {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}
.latest-issue-image-area {
    padding: 0;
    padding-right: 5%;
}
.latest-issue-cover-image {
    width: 100%;
    padding: 0;
}
.latest-issue-text {
    width: 100%;
}
.latest-issue-text h3 {
    color: #FFFFFF;
    margin-bottom: 0px;
}
.latest-issue-text p {
    color: #FFFFFF;
    padding: 0;
    margin-bottom: 0;
    margin-top: 5px;
}