/* General use stylesheet for all pages. Anything page-specific should be in its own sheet. */

body {
    background-color: #FFFFFF;
    margin:0;
}

/* Font attributes*/
.title {
    font-size: 30px;
    text-align: center;
    color: #323232;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
    color: #323232;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
}
h3 {
    color: #323232;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}
h4 {
    color: #323232;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
p {
    color: #323232;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
li {
    color: #323232;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

/* Navbar */
.navbar-container {
    top: 0;
    z-index: 1;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    width: 180px;
    height: 100%;
    border: 1px solid #bbb;
}
.navbarelements {
    float: left;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    width: 100%;
}
.navbarelements a {
    display: block;
    color: rgb(255, 0, 0);
    text-align: left;
    padding: 20px 0;
    padding-left: 20px;
    text-decoration: none;
}
.navbarelements :hover {
    background-color: rgb(205, 201, 200);
}
.dropdown-menu {
    float: left;
    overflow: hidden;
}
.drop-button {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(255, 0, 0);
    padding: 20px 16px;
    background-color: inherit;
    font-family: inherit;
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

/* Placeholder div */
.placeholder {
    width: 100%;
    height: 300px;
    background-color:#99c4f9;
    margin: 0;
    text-align: center;
}

/* Footer */
.footer {
    margin-left: 20px;
}
.footer ul {
    padding: 0;
    margin: 0;
}
.footer ul a {
    text-decoration: none;
    list-style-type: none;
}
.footer ul a li {
    color: rgb(255, 0, 0);
}
.footer-searchbar {
    margin-top: 20px;
}
#scrollbutton {
    margin-bottom: 20px;
}

/* Logo */
.logo {
    width: 100px;
    margin-left: 10px;
    margin-top: 5px;
}

/* header searchbar */
.searchbar {
    width: 100px;
    display: flex;
    float: right;
    gap: 5px;
    margin-top: 20px;
    margin-right: 120px;
    margin-bottom: 10px;
}

.content-body {
    margin-top: 100px;
}