.biography-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 10px;
    margin-bottom:50px;
}
.picture-card {
    margin-top: 10px;
}
.biocard {
    text-align: center;
    border: 1px solid #000000;
    padding: 10px;
    height: 100%;
}
.biocard p {
    text-align: left;
}
.linkedin-link {
    width: 50px;
}
.linkedin-gap {
    height:50px;
}
.text-area {
    padding: 15%;
    padding-top: 0;
    padding-bottom: 0;
}
.schedule {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    border: 1px solid #000000;
    padding: 20px;
    text-align: center;
}
