<!DOCTYPE html>
<html>

    <!-- the head tag holds scripts, stylesheets and meta information about the page -->
    <head>
        <!-- Put any page-specific scripts here -->

        <!-- Scripts needed for every page, copy to each page created  -->
        <script src="../../js/createpage.js"></script>

        <!-- Meta information, update title per page -->
        <title>Article: Title</title>
        <meta name=author content="wisconsinengineer">
        <meta keywords="magazine, wisconsin, engineer">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Put any page-specific stylesheets here -->

        <!-- Stylesheets needed for every page, copy to each page created -->
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </head>

    <!-- the body tag holds all of the information that is displayed on the page -->
    <body>

        <!-- this section is unique to each page, when creating page-specific elements use the page-specific stylesheets and scripts -->
        <div class="content-body">
            <div class="placeholder">
                <h3>Placeholder content</h3>
            </div>
        </div>

    </body>
</html>